<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body>
    <div class="header">
      <nav class="blue lighten-2">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">BLOG</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Signin</a></li>
            <li><a href="badges.html">SignOut</a></li>
            <li><%= link_to "New", 'blogs/new', mathod: :get %></li>
          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>

    <div class="footer"></div>
  </body>
</html>
